.play-bar {
  height: 90px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #282828;
  border-top:  1px solid rgba(0, 0, 0, 0.85);

  .player-wrapper {
    // display: flex;
    // align-items: center;
    position: relative;
    padding-top: 56.25%;
    
      .react-player {
        background-color: green;
        position: absolute;
        top: 0;
        left: 0;
      }


  }

  .player-main-toggles {

    display: flex;
    width: 300px;
    -webkit-filter: invert(75%);

    .toggle {
      height: 55px;
      width: 55px;
  
      #play {
        width:55px;
        height:55px;
  
      }
  
      #pause {
        width:40px;
        height:40px;
        
      }
  
    }

    #prev, #next {
      height: 20px;
      width: 20px;
      margin-top: 18px;
    }

    #prev {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";

      margin-right: 1px;
    }

    
  
    img:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  
  }
}