.browse-top-nav-container {
 
  // background-color: orange;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;

  .browse-top-nav-links {
    display: flex;
    list-style-type: none;
    //comment this in to fix padding
    padding: 0px;
    
    .nav-link {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 12px;
      text-decoration: none;
      color: #b3b3b3;
      font-weight: bold; 
      letter-spacing: +0.18em;
      display: flex;
      align-items: center;
      -webkit-transition: color 0.2s;
      
    }
    
    .active {
      color: white;
      //how to make this smaller ?!??!!?!?
      border-bottom: 2px solid #1DB954;
    }
  
    .nav-link:hover {
      color: white;
    }
  
    li {
      height: 20px;
      //hack to center text within li
      line-height: 20px;
      text-align: center;
    }


  }
}

