//-----------------------------------------
// For use in song index lists
//-----------------------------------------
// see example: browse_songs_index.jsx

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.content-index-display-container-list {
  flex: 2 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  // position: relative;


  h1 {
    letter-spacing: .015em;
  }

  .index-display-section-list {
    box-sizing: border-box;
    overflow: auto;
    max-height:100%;
    list-style-type: none;
    padding: 0;
   

    li {
        height: 30px;
        padding: 18px;
        display: flex;
        justify-content: space-between;
    
        font-size: 13px;
        color: #b3b3b3;

        .song-index-item-left {
          display: flex;
          flex-direction: row;

          .song-index-play-icon-container {
            height: 100%;
            width: 25px;
            align-content: center;
            align-items: center;
            text-align: center;
            margin-right: 10px;
            -webkit-filter: invert(100%);

            #dormant {
              display: block;
            }

            #play {
              display: none;
              // display: block;
            }
          }

          .song-index-play-icon-container:hover {
            #dormant {
              display: none;
            }

            #play {
              display: inline;
              cursor: pointer;
            }
          }

          
          .song-index-info {
            strong {
              color: white;
              font-weight: var(--glue-font-weight-bold);
              font-size: 14px;
            }
          }

        }



      .add-song-to-playlist-button, .add-song-to-playlist-button:visited, .delete-song, .delete-song:visited
        {
          display:none;
        }
      }
  
    li:hover {
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: background-color 0.45s ease-out;

      .add-song-to-playlist-button, .add-song-to-playlist-button:visited, .delete-song, .delete-song:visited {
        display: inline;
        text-decoration: none;
        background-color: transparent;
        padding: 7px 15px 7px 15px; 
        border-radius: 50px;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: +0.13em;
        width: 80px;
        height: 25px;
        border: 1.4px solid #b3b3b3;
        text-transform: uppercase;
        color: white;
        
      }


      .add-song-to-playlist-button:hover, .delete-song:hover {
        color: white;
        background-color: #b3b3b357;
        cursor: pointer;
        -webkit-transition: background-color 0.1s;
      }



    }
  
   
  }
}

//-----------------------------------------
// For tile elements (albums, playlists)
//-----------------------------------------
// see example: library_playlist_index.jsx

.content-index-display-container-tile {
  color: #fff;
  display: flex;
  flex-direction: column;
  // height: 100%;      //not sure why i put this here before but was causing the top nav to shrink in height
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;

}


.index-display-section-tile {
  box-sizing: border-box;
  overflow: auto;
  max-height:100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  // padding-left: 5px;

  .tile-container {
    text-align: center;
    font-size: 13px;
    color: #b3b3b3;

      //for squares (albums, playlists)
      .tile {
        height: 180px;
        width: 180px;
        margin: 8px;
        position: relative;
  
  
        img {
          max-width:100%;
          max-height:100%;
        }
  
        .tile-overlay {
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
      
          transition:all 0.2s ease-in-out;
          -webkit-transition:all 0.2s ease-in-out;
        }
        
        .tile-overlay:hover {
          display: block;
          z-index:10;
          background-color: rgba(0, 0, 0, 0.6);
        }

        .play-content-button {
          position:absolute;
          left: 40px;
          top: 40px;
          z-index: 15;
          background-color: green;
        }
      }



  
    //for circles (artists)
    .circle {
      height: 180px;
      width: 180px;
      margin: 8px;

      img {
        max-width:100%;
        max-height:100%;
        border-radius: 50%;
        // -moz-border-radius:50%;
        // -webkit-border-radius:50%;
      }
    }


    strong {
      color: white;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .015em;
      text-transform: none;
      font-weight: var(--glue-font-weight-bold);
    }

  }

  .tile img:hover, .circle img:hover {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: background-color 0.22s;
  }

}




