//-----------------------------------------
// For use in song index lists
//-----------------------------------------
// see example: browse_songs_index.jsx


.content-index-display-container-list {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;


  h1 {
    letter-spacing: .015em;
  }

  .index-display-section-list {
    list-style-type: none;
    padding: 0;

    li {
      height: 30px;
      padding: 18px;

      strong {
        color: white;
        font-weight: bold;
        font-size: 14px;
      }

      font-size: 13px;
      color: #b3b3b3;
    }

    li:hover {
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: background-color 0.45s ease-out;
    }
  }
}

//-----------------------------------------
// For tile elements (albums, playlists)
//-----------------------------------------
// see example: library_playlist_index.jsx

.content-index-display-container-tile {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;


  .index-display-section-tile {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    // padding: 20px;

    .tile-container {
      text-align: center;
      // background-color: fuchsia;

      font-size: 13px;
      color: #b3b3b3;

      .tile {
        background-color: rgb(197, 230, 109);
        height: 180px;
        width: 180px;
        margin: 8px;
      }

      strong {
        color: white;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .015em;
        text-transform: none;
        font-weight: var(--glue-font-weight-bold);
      }

    }

    .tile:hover {
      background-color: rgba(0, 0, 0, 0.4);
      -webkit-transition: background-color 0.22s;
    }
  }
}

