//main component to right of nav bar and above music player

.in-app-main-component-container {
  background-image: linear-gradient(to bottom right,  #7C2109, #1f1e1e);
  display:flex;
  flex-direction: column;
  width: 100%;
}