//main component to right of nav bar and above music player

// .in-app-main {
//   background:yellow;
// //  display: flex;
//   width: 100%;
// }

.in-app-main-component-container {
  background: yellow;
  display:flex;
  flex-direction: column;
  width: 100%;
}