.library-top-nav-container {
 
  // background-color: orange;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;

  .library-top-nav-links {
    display: flex;
    list-style-type: none;
    padding: 0px;

    margin-left: auto;

    .nav-link {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 12px;
      text-decoration: none;
      color: #b3b3b3;
      font-weight: bold; 
      letter-spacing: +0.18em;
      display: flex;
      align-items: center;
      -webkit-transition: color 0.2s;
      // padding-bottom: 3px;
    }
    
    .active {
      color: white;
      //how to make this smaller ?!??!!?!?
      border-bottom: 2px solid #1DB954;
    }
  
    .nav-link:hover {
      color: white;
    }
  
    li {
      height: 20px;
      //hack to center text within li
      line-height: 20px;
      text-align: center;
    }


  }


  .create-playlist-button-container {
    padding-right: 20px;
    margin-left: auto;

    .create-playlist-button, .create-playlist-button:visited {
      text-decoration: none;
      background-color: #1DB954;
      padding: 10px 20px 10px 20px; 
      border-radius: 50px;
      font-size: 11px;
      letter-spacing: +0.10em;
      color: white;
      width: 140px;
      border: 0 transparent;
      text-transform: uppercase;
      align-self: center;

    }
  
    .create-playlist-button:hover {
      color: white;
      background-color: rgb(35, 201, 93);
      border: 0 transparent;
      cursor: pointer;
      transform: scale(1.04);
    }


  }

  }  
