
//-----------------------------------------
// can be found in protectedInApp.jsx
//-----------------------------------------

//structure the in-app-body container (with nvabar and main) and the in-app-footer (music player)
.main-view-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; //set to 100% of viewport - bottom comp will still be in view when browser size decreases

 
  // background-image: linear-gradient(to bottom right,  #7C2109, #1f1e1e);


}


.main-view-body-container {
  display: flex;
  height: 100%;
}

//-----------------------------------------
// can be found in browse.jsx, library.jsx, etc
//-----------------------------------------

.main-view-body-central-container {
  background-image: linear-gradient(to bottom right,  #352B5C, #1f1e1e);
  display:flex;
  flex-direction: column;
  width: 100%;
}


//-----------------------------------------
// can be found in playlist.jsx, artist.jsx, etc
//-----------------------------------------

.main-view-spotlight-container{
  background-image: linear-gradient(to bottom right,  #786E05, #1f1e1e);
  display:flex;
  flex-direction: row;
  width: 100%;
}



