// -----------------------------------------
// display message - found in protectedInApp.jsx
// -----------------------------------------
// reference: https://css-tricks.com/pop-from-top-notification/
#note {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  line-height: 2;
  overflow: hidden; 
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
  display: none;
}

.cssanimations.csstransforms #note {
  -webkit-transform: translateY(-50px);
  -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
  -moz-transform:    translateY(-50px);
  -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}


@-webkit-keyframes slideDown {
  0%, 100% { -webkit-transform: translateY(-50px); }
  10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
  0%, 100% { -moz-transform: translateY(-50px); }
  10%, 90% { -moz-transform: translateY(0px); }
}


//-----------------------------------------
// can be found in protectedInApp.jsx
//-----------------------------------------

//structure the in-app-body container (with nvabar and main) and the in-app-footer (music player)
.main-view-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; //set to 100% of viewport - bottom comp will still be in view when browser size decreases

 
  // background-image: linear-gradient(to bottom right,  #7C2109, #1f1e1e);


}


.main-view-body-container {
  display: flex;
  height: 100%;
}

//-----------------------------------------
// can be found in browse.jsx, library.jsx, etc
//-----------------------------------------

.main-view-body-central-container {
  background-image: linear-gradient(to bottom right,  #352B5C, #1f1e1e);
  display:flex;
  flex-direction: column;
  width: 100%;
}


//-----------------------------------------
// can be found in playlist.jsx, artist.jsx, etc
//-----------------------------------------

.main-view-spotlight-container{
  background-image: linear-gradient(to bottom right,  #786E05, #1f1e1e);
  display:flex;
  flex-direction: row;
  width: 100%;
}



