//structure the in-app-body container (with nvabar and main) and the in-app-footer (music player)

.in-app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; //set to 100% of viewport - bottom comp will still be in view when browser size decreases
  // width: 100vw;
  //TEMP background color
  // background: bisque;
 
  background-image: linear-gradient(to bottom right, #ded700d9, #1f1e1e);
}

.in-app-body {
  display: flex;
  height: 100%;
  // width: 100%;
}

